:root{
    --container-height: 90vh;
    --container-margin-top: 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}



body{
    width: 100%;
    height: 100%;
    background: #111111;
}

#container{
    width: 65vw;
    height: var(--container-height);
    margin: auto;
    margin-top: calc((100vh - var(--container-height)) / 2);
    padding: 1.5rem;
    font-size: 2rem;
    background: #112222;
    word-wrap: break-word;
    overflow:auto;
    opacity: 1;
}

.list-item{
    position: sticky;
    bottom: 5.5rem;
    height: auto;
    padding: 1.5rem;
    background: #111111;
    text-justify: center;
    border-radius: 2rem;
    opacity: 0.8;
}

#entry{
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: row;
}

#option{
    display: flex;
    flex-direction: row;
    margin: 2%;
    margin-right: 5%;
    justify-content: space-between;
}

button{
    background: #111111;
    border: none;
    padding: .6rem;
    border-radius: 50%;
    cursor: pointer;
}
span{
    color: #eedddd;
}

.list-item,
#entry{
    width: 95%;
    margin: .5rem;
}

label{
    color: #eedddd;
    text-transform: capitalize;
}


#text{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 5rem;
    color: #eedddd;
    font-size: 3.7vh;
    padding: 2rem;
    border: none;
    border-color: none;
    background: #111111;
    border-radius: 2rem;
    opacity: 0.6;
}

#text::placeholder{
    text-align: center;
    font-style: italic;
    font-size: large;
}

#submit{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 5rem;
    height: 5rem;
    left: 0;
    border: none;
    font-size: 3rem;
    color: #eedddd;
    margin-right: .5rem;
    background: #111111;
    border-radius: 50%;
}

@media screen and (max-width: 450px)
{
    #container{
        width: 100vw;
        height: 100vh;
        margin: 0;
        overflow: auto;
    }

    #entry{
        position: sticky;
        bottom: 0;
    }

    #text{
        width: 100%;
    }
}